<%= form_for(@crud_operation) do |f| %>
  <% if @crud_operation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crud_operation.errors.count, "error") %> prohibited this crud_operation from being saved:</h2>

      <ul>
      <% @crud_operation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :crud_op %><br>
    <%= f.text_field :crud_op %>
  </div>
  <div class="field">
    <%= f.label :role_id %><br>
    <%= f.number_field :role_id %>
  </div>
  <div class="field">
    <%= f.label :eval_exp %><br>
    <%= f.text_field :eval_exp %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
