<p>
  <strong>Username:</strong>
  <%= @user.username %>

  <% if @user.tweets.count == 0 %>
    <h3>This user has no tweets</h3>
  <% else %>
    <% @user.tweets.each do |tweet| %>
        <p><%= tweet.created_at %></p>
        <p><%= tweet.msg %></p>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
