<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Hashed password:</strong>
  <%= @user.hashed_password %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @user.created_by %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
